documentation/
/src/Makefile
/src/Makefile.Debug
/src/Makefile.Release
/gvsim.pro.user
/resources/images/.directory
/build-gvsim-Qt5-Debug/
/src/gvsim-simengine/build/
/src/gvsim.pro.user
/src/gvsim-gui/gvsim-gui.pro.user
/src/gvsim-gui/resources/images/.directory
/src/gvsim-simengine/gvsim-simengine.pro.user
/build*
*mapcache*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*moc_*.cpp
